In [12]:
import pandas as pd
import os

In [13]:
province = 'krabi'

In [14]:
df_cc = pd.read_csv(os.path.join('Data','Container Density','District Level','container_'+ province +'_dist.csv'), index_col = 0)
df_cc = df_cc.drop('total',axis = 1)
df_cc.head()

   addrcode  bin  bowl  bucket  misc_short  jar  pottedplant  tire  misc_tall
0      8101  103    18    1199          22   83          893   272          7
1      8102  280     4    1598          24  146         1022   291          2
2      8103   47     9     905          21   25          365    97          2
3      8104  312    26    2873          44  135         1375   567          7
4      8105  609    19    2699          47  174         1491   541          7

In [15]:
corr = df_cc.corr()

In [16]:
corr

,addrcode,bin,bowl,bucket,misc_short,jar,pottedplant,tire,misc_tall
addrcode,1.000000,0.411278,0.424519,0.486065,0.370743,0.014539,0.335575,0.179970,0.143708
bin,0.411278,1.000000,0.425952,0.728274,0.707706,0.800388,0.857390,0.799592,0.390786
bowl,0.424519,0.425952,1.000000,0.834759,0.820364,0.115049,0.728435,0.740863,0.548808
bucket,0.486065,0.728274,0.834759,1.000000,0.973264,0.450189,0.912749,0.856033,0.340601
misc_short,0.370743,0.707706,0.820364,0.973264,1.000000,0.403045,0.867127,0.837569,0.323635
jar,0.014539,0.800388,0.115049,0.450189,0.403045,1.000000,0.723238,0.679302,0.465031
pottedplant,0.335575,0.857390,0.728435,0.912749,0.867127,0.723238,1.000000,0.944425,0.512537
tire,0.179970,0.799592,0.740863,0.856033,0.837569,0.679302,0.944425,1.000000,0.518007
misc_tall,0.143708,0.390786,0.548808,0.340601,0.323635,0.465031,0.512537,0.518007,1.000000